---
import AstroLayout from '../layouts/Layout.astro';
import ThreeViewer from '../components/ThreeViewer.tsx';
import Auth from '../components/Auth.tsx';
---
<AstroLayout title="Astro 3D Viewer">
    <Auth client:load />

    <div class="background-canvas">
        <ThreeViewer client:load />
    </div>
</AstroLayout>

<style>
    .background-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
</style>