.screen {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    position: relative;
    isolation: isolate;
    gap: 24px;
}

.screen::before {
    content: '';
    position: fixed;
    inset: -20px;
    background: #78b27b url('/backgrounds/background-nl.png') center / cover no-repeat;
    filter: blur(10px);
    z-index: -1;
    pointer-events: none;
}

.logoWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 auto;
    perspective: 140px;
}

.trapezoid {
    position: absolute;
    width: 96px;
    height: 128px;
    background: rgb(0 0 0 / 40%);
    border-radius: 32px;
    transform: rotateX(-20deg) translateY(-18px);
    transform-origin: bottom;
    background: var(--menu-accent);
    background: radial-gradient(circle, rgba(52, 115, 230, 1) 0%, rgba(19, 52, 158, 1) 100%);
}

.logo {
    position: relative;
    width: 88px;
    height: 88px;
}

.footer {
    margin-top: auto;
    padding: 0px 0 72px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
