:root {
    --menu-panel: #e8e8e5;
    --menu-light: #f5f7f3;
    --menu-light-01: rgb(245, 247, 243, 0.1);
    --menu-light-03: rgb(245, 247, 243, 0.3);
    --menu-light-06: rgb(245, 247, 243, 0.6);
    --menu-dark: #0b150c;
    --menu-dark-06: rgba(11, 21, 12, 0.6);
    --menu-accent: #98f99e;
    --menu-dim: #858984;
}
