.toggleButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.controlPanel {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 224px;
    background: var(--panel-bg);
    z-index: 999;
    transform: translate(-50%, calc(100% + 56px));
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: var(--panel-shadow);
    border-radius: var(--panel-radius);
    margin: 20px 0;
    max-width: 335px;
}

.controlPanelOpen {
    transform: translate(-50%, 0);
}

.lightIcon {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.closeControls {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.dialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 40px;
}